.poke-info-card {
    width: 400px;
    height: 100%;
    background-color: #49D0B0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    overflow: hidden;
}

.poke-title {
    top: 15px;
    left: 15px;
    color: rgba(255, 255, 255, 0.753);
}

.poke-info-card>.pokemon {
    z-index: 1;
    width: 150px;
    margin: 50px;
}

.poke-info-card .info {
    border-radius: 20px 20px 0 0px;
    padding: 20px 20px;
}

.pokeball-img {
    position: absolute;
    top: 90px;
    left: 105px;
    width: 200px;
    opacity: 0.15;
}

.info {
    width: 100%;
    z-index: 2;
}

.tab-style {
    border-bottom: 2px solid rgb(61, 48, 172);
    color: red !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.button-close {
    position: absolute;
    right: 0;
    top: 2%;
    background: transparent;
    color: rgba(8, 8, 8, 0.432);
    font-weight: 700;
}

.button-close:hover {
    color: rgba(0, 0, 0, 0.767);
    border-color: transparent;

}


.poke-image-card{
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
} */

@keyframes slideInFromLeft {
    0% {
        width: 0;
    }
    100% {
        width: 150px;
    }
}